
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html><head><title>Python: module temperature_co2_plotter</title>
<meta charset="utf-8">
</head><body bgcolor="#f0f0f8">

<table width="100%" cellspacing=0 cellpadding=2 border=0 summary="heading">
<tr bgcolor="#7799ee">
<td valign=bottom>&nbsp;<br>
<font color="#ffffff" face="helvetica, arial">&nbsp;<br><big><big><strong>temperature_co2_plotter</strong></big></big></font></td
><td align=right valign=bottom
><font color="#ffffff" face="helvetica, arial"><a href=".">index</a><br><a href="file:/Users/nablisog/Desktop/oblig6/temperature_co2_plotter.py">/Users/nablisog/Desktop/oblig6/temperature_co2_plotter.py</a></font></td></tr></table>
    <p><tt>This&nbsp;program&nbsp;is&nbsp;a&nbsp;Python&nbsp;Script&nbsp;that&nbsp;reads&nbsp;Python&nbsp;script&nbsp;which&nbsp;reads&nbsp;data&nbsp;from&nbsp;the&nbsp;files<br>
CO2.csv&nbsp;and&nbsp;temperature.csv&nbsp;and&nbsp;generates&nbsp;a&nbsp;labeled,&nbsp;nice&nbsp;plot&nbsp;of&nbsp;time&nbsp;vs&nbsp;CO2<br>
and&nbsp;time&nbsp;vs.&nbsp;temperature.&nbsp;It&nbsp;also&nbsp;takes&nbsp;as&nbsp;input&nbsp;an&nbsp;upper/lower&nbsp;threshold,&nbsp;and&nbsp;generates<br>
chart&nbsp;of&nbsp;the&nbsp;CO2&nbsp;emissions&nbsp;of&nbsp;all&nbsp;countries&nbsp;with&nbsp;per&nbsp;capita</tt></p>
<p>
<table width="100%" cellspacing=0 cellpadding=2 border=0 summary="section">
<tr bgcolor="#eeaa77">
<td colspan=3 valign=bottom>&nbsp;<br>
<font color="#ffffff" face="helvetica, arial"><big><strong>Functions</strong></big></font></td></tr>
    
<tr><td bgcolor="#eeaa77"><tt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</tt></td><td>&nbsp;</td>
<td width="100%"><dl><dt><a name="-read_co2_by_country_plot"><strong>read_co2_by_country_plot</strong></a>(year, lower_threshold, upper_threshold)</dt><dd><tt>Plotting&nbsp;CO2&nbsp;by&nbsp;country<br>
Args:<br>
&nbsp;&nbsp;&nbsp;&nbsp;year:&nbsp;year&nbsp;to&nbsp;plot&nbsp;for<br>
&nbsp;&nbsp;&nbsp;&nbsp;lower_threshold:&nbsp;minimum&nbsp;value&nbsp;for&nbsp;the&nbsp;country&nbsp;to&nbsp;be&nbsp;part&nbsp;of&nbsp;plot<br>
&nbsp;&nbsp;&nbsp;&nbsp;upper_threshold:&nbsp;maximum&nbsp;value&nbsp;for&nbsp;the&nbsp;country&nbsp;to&nbsp;be&nbsp;part&nbsp;of&nbsp;plot</tt></dd></dl>
 <dl><dt><a name="-read_plot_co2"><strong>read_plot_co2</strong></a>(start, end, lower, higher)</dt><dd><tt>Plotting&nbsp;CO2<br>
Args:<br>
&nbsp;&nbsp;&nbsp;&nbsp;start:&nbsp;year&nbsp;to&nbsp;start&nbsp;ploting<br>
&nbsp;&nbsp;&nbsp;&nbsp;end:&nbsp;year&nbsp;to&nbsp;end&nbsp;ploting<br>
&nbsp;&nbsp;&nbsp;&nbsp;lower:&nbsp;minimum&nbsp;value&nbsp;for&nbsp;temperature&nbsp;to&nbsp;show&nbsp;in&nbsp;plot<br>
&nbsp;&nbsp;&nbsp;&nbsp;higher:&nbsp;maximum&nbsp;value&nbsp;for&nbsp;temperature&nbsp;to&nbsp;show&nbsp;in&nbsp;plot</tt></dd></dl>
 <dl><dt><a name="-read_plot_temperature"><strong>read_plot_temperature</strong></a>(month, start, end, lower, higher)</dt><dd><tt>Plotting&nbsp;Temperature<br>
Args:<br>
&nbsp;&nbsp;&nbsp;&nbsp;month:&nbsp;the&nbsp;month&nbsp;to&nbsp;plot&nbsp;temperature&nbsp;from<br>
&nbsp;&nbsp;&nbsp;&nbsp;start:&nbsp;year&nbsp;to&nbsp;start&nbsp;ploting<br>
&nbsp;&nbsp;&nbsp;&nbsp;end:&nbsp;year&nbsp;to&nbsp;end&nbsp;ploting<br>
&nbsp;&nbsp;&nbsp;&nbsp;lower:&nbsp;minimum&nbsp;value&nbsp;for&nbsp;temperature&nbsp;to&nbsp;show&nbsp;in&nbsp;plot<br>
&nbsp;&nbsp;&nbsp;&nbsp;higher:&nbsp;maximum&nbsp;value&nbsp;for&nbsp;temperature&nbsp;to&nbsp;show&nbsp;in&nbsp;plot</tt></dd></dl>
</td></tr></table>
</body></html>